In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\chint\appdata\local\programs\python\python314\lib\site-packages (9.5.0)

In [1]:
import mysql.connector
conn = mysql.connector.connect(
    host="localhost",      # or your server IP
    user="root",           # MySQL username
    password="admin1234",
    database="Marketing_db"
)

# Marketing Return on Investment (ROI):
Description: Marketing ROI assesses the profitability of marketing campaigns, calculated as the net revenue generated from marketing efforts divided by the total marketing expenses.

Use: Determines the effectiveness of marketing strategies in generating returns and guides budget allocation for future campaigns.

In [2]:
cursor = conn.cursor()
query = """
SELECT 
    campaign_name,
    SUM(revenue) AS total_revenue,
    ROUND(SUM(mark_spent), 2) AS total_spent,
    ROUND(((SUM(revenue) - SUM(mark_spent)) / SUM(mark_spent)) * 100, 2) AS ROI
FROM marketing
GROUP BY campaign_name;
"""
cursor.execute(query)

results = cursor.fetchall()

In [3]:
import pandas as pd

columns = ['campaign_name', 'total_revenue', 'total_spent', 'ROI']
df = pd.DataFrame(results, columns=columns)
df

           campaign_name total_revenue  total_spent     ROI
0         facebook_tier1       2396412   2564793.48   -6.57
1         facebOOK_tier2       3463306   4693870.97  -26.22
2             google_hot       2205747   1199998.77   83.81
3            google_wide       1499318   2260401.30  -33.67
4        youtube_blogger      15311433   4057936.51  277.32
5        instagram_tier1       4544124   2565277.25   77.14
6        instagram_tier2        670460   1066153.75  -37.11
7   facebook_retargeting        536919    266466.22  101.50
8           facebook_lal        300233   2641939.24  -88.64
9      instagram_blogger       5808454   4247367.57   36.75
10        banner_partner       6152960   5026674.76   22.41

# Click-Through Rate (CTR):
Description: CTR measures the percentage of users who click on a digital ad or link out of the total who view it, calculated as (Clicks ÷ Impressions) × 100.

Use: Indicates the effectiveness of online advertising and content engagement, helping optimize campaigns.

In [4]:
cursor = conn.cursor()
query = """
SELECT 
    campaign_name,
    SUM(clicks) AS total_clicks,
    SUM(impressions) AS total_impressions,
    ROUND((SUM(clicks) / SUM(impressions)) * 100, 2) AS CTR
FROM marketing
WHERE impressions > 0
GROUP BY campaign_name;
"""
cursor.execute(query)

results = cursor.fetchall()

In [5]:
import pandas as pd

columns = ['campaign_name', 'total_clicks', 'total_impressions', 'CTR']
df = pd.DataFrame(results, columns=columns)
df

           campaign_name  total_clicks total_impressions   CTR
0         facebook_tier1      239997.0          63044882  0.38
1         facebOOK_tier2      329973.0          69623161  0.47
2             google_hot       90048.0           4628993  1.95
3            google_wide      240006.0          67669259  0.35
4        youtube_blogger      450014.0          43688313  1.03
5        instagram_tier1      269961.0          75136799  0.36
6        instagram_tier2      509992.0         137806768  0.37
7   facebook_retargeting       29954.0            976685  3.07
8           facebook_lal      120012.0          12697701  0.95
9      instagram_blogger      299959.0          34112411  0.88
10        banner_partner      420003.0        1068337427  0.04

# Cost Per Click (CPC):
Description: CPC measures the cost incurred for each click on a digital ad, calculated as Total Ad Spend ÷ Total Clicks.

Use: Helps businesses monitor and control spending on digital advertising while maintaining profitability.

In [6]:
cursor = conn.cursor()
query = """
select campaign_name, round(sum(mark_spent),2),sum(clicks),
round((sum(mark_spent)/sum(clicks)),2) as CPC
from marketing
where clicks>0
group by campaign_name
order by CPC desc;
"""
cursor.execute(query)

results = cursor.fetchall()

In [7]:
import pandas as pd

columns = ['campaign_name', 'total_clicks', 'total_impressions', 'CPC']
df = pd.DataFrame(results, columns=columns)
df

           campaign_name  total_clicks  total_impressions    CPC
0           facebook_lal    2641939.24           120012.0  22.01
1         facebOOK_tier2    4693870.97           329973.0  14.23
2      instagram_blogger    4247367.57           299959.0  14.16
3             google_hot    1199998.77            90048.0  13.33
4         banner_partner    5026674.76           420003.0  11.97
5         facebook_tier1    2564793.48           239997.0  10.69
6        instagram_tier1    2565277.25           269961.0   9.50
7            google_wide    2260401.30           240006.0   9.42
8        youtube_blogger    4057936.51           450014.0   9.02
9   facebook_retargeting     266466.22            29954.0   8.90
10       instagram_tier2    1066153.75           509992.0   2.09

# Cost Per Lead (CPL):
Description: CPL calculates the cost of acquiring a new lead, determined by dividing marketing expenses by the number of leads generated.

Use: Evaluates the efficiency of lead-generation efforts and ensures campaigns are targeting valuable prospects.

In [8]:
cursor = conn.cursor()
query = """
SELECT mark_spent, leads, round(CAST(mark_spent AS FLOAT) / leads,2)AS CPL FROM marketing
 WHERE leads > 0
 order by CPL desc ;
 """
cursor.execute(query)

results = cursor.fetchall()

In [9]:
import pandas as pd

columns = ['mark_spent', 'leads', 'CPL']
df = pd.DataFrame(results, columns=columns)
df

     mark_spent  leads      CPL
0     120335.00     71  1694.86
1      10104.90      6  1684.15
2      40099.00     24  1670.79
3     440355.00    264  1668.01
4       6587.76      4  1646.94
..          ...    ...      ...
299     6747.94    199    33.91
300     2403.54     73    32.93
301    16656.80    510    32.66
302     2057.30    102    20.17
303    13588.80    765    17.76

[304 rows x 3 columns]

# Revenue Per Click (RPC):
Description: RPC measures the revenue generated for each click on an ad or digital link, calculated as Total Revenue ÷ Total Clicks.

Use: Gauges the profitability of paid digital campaigns and helps optimize targeting and bidding strategies.

In [10]:
cursor = conn.cursor()
query = """
select revenue,clicks, round(revenue/clicks,2) as RPC from marketing
order by RPC desc;
"""
cursor.execute(query)

results = cursor.fetchall()

In [11]:
import pandas as pd

columns = ['revenue', 'clicks', 'RPC']
df = pd.DataFrame(results, columns=columns)
df

     revenue   clicks    RPC
0       4461     66.0  67.59
1     831820  13506.0  61.59
2    1296550  22509.0  57.60
3     772499  13503.0  57.21
4     127696   2247.0  56.83
..       ...      ...    ...
303        0     20.0   0.00
304        0    115.0   0.00
305        0    487.0   0.00
306        0   1024.0   0.00
307        0     58.0   0.00

[308 rows x 3 columns]

# Average Order Value (AOV):
Description: AOV calculates the average amount spent per order, determined by dividing total revenue by the total number of orders.

Use: Provides insights into customer spending habits and informs strategies to increase order sizes, like bundling or upselling.

In [14]:
cursor = conn.cursor()
query = """
SELECT campaign_name, SUM(revenue) AS total_revenue, 
SUM(orders) AS total_orders, SUM(revenue) / NULLIF(SUM(orders), 0) AS average_order_value 
FROM marketing 
GROUP BY campaign_name;
"""
cursor.execute(query)

results = cursor.fetchall()

columns = ['campaign_name', 'total_revenue','total_orders', 'average_order_value']
df = pd.DataFrame(results, columns=columns)
df

           campaign_name total_revenue total_orders average_order_value
0         facebook_tier1       2396412          474           5055.7215
1         facebOOK_tier2       3463306          688           5033.8750
2             google_hot       2205747          281           7849.6335
3            google_wide       1499318          547           2740.9835
4        youtube_blogger      15311433         1914           7999.7038
5        instagram_tier1       4544124          758           5994.8865
6        instagram_tier2        670460          313           2142.0447
7   facebook_retargeting        536919          108           4971.4722
8           facebook_lal        300233          294           1021.2007
9      instagram_blogger       5808454         1100           5280.4127
10        banner_partner       6152960         1566           3929.0932

# Customer Segment Profitability (CSP):
Description: CSP evaluates the profitability of different customer groups by analyzing revenue and costs associated with serving each segment.

Use: Helps prioritize high-value customer segments and tailor strategies to improve profitability for less profitable groups.

In [17]:
cursor = conn.cursor()
query = """
SELECT category, SUM(revenue) AS total_revenue, 
round(SUM(mark_spent),2) AS total_marketing_spent, 
round(SUM(revenue) - SUM(mark_spent),2) AS profit, 
round((SUM(revenue) - SUM(mark_spent)) * 1.0 / NULLIF(SUM(mark_spent), 0),2) AS roi FROM marketing 
GROUP BY category ORDER BY profit DESC;
"""

cursor.execute(query)

results = cursor.fetchall()

columns = ['category', 'total_revenue','total_marketing_spent', 'profit','roi']
df = pd.DataFrame(results, columns=columns)
df

     category total_revenue  total_marketing_spent       profit   roi
0  influencer      21119887             8305304.08  12814582.92  1.54
1       media       6152960             5026674.76   1126285.24  0.22
2      search       3705065             3460400.08    244664.92  0.07
3      social      11911454            13798500.90  -1887046.90 -0.14